# Игнорируем виртуальное окружение
venv/
env/
.venv/
.env/

# Файлы конфигурации окружения
*.env
*.local

# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Базы данных
*.sqlite3
instance/
*.db

# Файлы для IDE
.idea/
.vscode/

# Файлы и папки, создаваемые операционными системами
.DS_Store
*.swp
Thumbs.db
